// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

// 768 ===================================================

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
.all
	float: left
	width: 100%

dd
	float: left
	width: 90%
	padding-right: 5%

dt
	float: left
	width: 10%
	padding-right: 2%
	clear: both
	padding-left: 15px

dd, dt
	border-top: 1px solid #7d7f7e
	margin-bottom: 15px

.time
	border-top: 0
	background: transparent
	padding: 0
	color: #fff

.top
	display: block
	margin-bottom: 5px
	padding-bottom: 15px
	i
		position: relative
		top: -4px

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================
