// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

.content
	margin: 10px 0 30px 0
	background: #464847
	overflow: hidden

	a
		color: #fff
		text-decoration: underline

dt,
dd
	padding-top: 15px
	line-height: 1.3
dd
	color: #e7e9e9
	+font-size(18)
	padding-left: 15px
	padding-right: 15px
	margin-bottom: 0
dt
	padding-top: 19px

dt.top
	display: none
dd.top
	padding-top: 18px
	color: #7d7f7e
	font-size: 14px

.time
	border-top: 1px solid #7d7f7e
	padding: 10px 10px 0 15px
	display: block
	margin: 0
	color: #7d7f7e
	text-shadow: none
	font-weight: normal

dt.top
	text-align: center

i
	color: #e7e9e9
	margin-right: 10px
	+font-size(20)

dd i
	position: relative
	top: 3px

header h1
	margin: 15px 0 10px 15px

footer
	text-align: center
	a
		text-decoration: underline
		&:hover,&:focus
			text-decoration: none
